ul {
    list-style: none;
}
li {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.link {
    text-decoration: none;
    color: white;
    padding-top: 5px;
}
.foot {
    height: 50px;
    background-color: cadetblue;
    margin-top: 300px;
}